<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 1、扫描有注解的类，让spring进行管理 -->
    <context:component-scan base-package="cn.marry">
    	<context:exclude-filter type="annotation" 
    	expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- 2、加载数据源的配置文件 -->
    <context:property-placeholder location="classpath:datasource.properties"/> 
    <!-- 3、配置数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
    	<property name="driverClassName" value="${driver}"></property>
    	<property name="url" value="${url}"></property>
    	<property name="username" value="${user}"></property>
    	<property name="password" value="${password}"></property>
    	<property name="initialSize" value="${initialSize}"></property>
    	<property name="maxIdle" value="${maxIdle}"></property>
    	<property name="maxTotal" value="${maxActive}"></property>
    	<property name="maxWaitMillis" value="${maxWait}"></property>
    	<property name="minIdle" value="${minIdle}"></property>
    	<!-- sql心跳包 -->
    	<property name="testWhileIdle" value="true"></property>
    	<property name="testOnBorrow" value="false"></property>
    	<property name="testOnReturn" value="false"></property>
    	<property name="validationQuery" value="select 1"></property>
    	<property name="timeBetweenEvictionRunsMillis" value="6000"></property>
    	<property name="numTestsPerEvictionRun" value="${maxActive}"></property>
    </bean>
    <!-- 4、配置SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"/>
    	<property name="typeAliasesPackage" value="cn.marry.pojo"/>
    	<!-- 扫描mapper文件夹下所有的xml文件,因为我们是将不同的xml文件放入在不同的文件夹下，
    	所以这里有** -->
    	<property name="mapperLocations" value="classpath:mapper/*.xml"/>
    	<!-- 添加插件 -->
    	<property name="plugins">
    		<array>
    			<bean class="com.github.pagehelper.PageInterceptor">
    				<!-- 通过配置文件的形式给值 -->
    				<property name="properties">
    					<props>
    						<!-- helperDialect:告诉spring容器我们采用哪一种数据库 -->
    						<prop key="helperDialect">mysql</prop>
    						<!-- reasonable：分页合理化参数，默认值为 false 。当该参数设置为 true 时， 
    						pageNum<=0 时会查询第一 页， 
            				pageNum>pages （超过总数时），会查询最后一页。
            				默认 false 时，直接根据参数进行查询。 -->
    						<prop key="reasonable">true</prop>
    					</props>
    				</property>
    			</bean>
    		</array>
    	</property>
    </bean>
    <!-- 5、扫描所有的dao -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<property name="basePackage" value="cn.marry.dao"/>
    	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
    <!-- 6、配置事务增强 -->
    <bean id="transactionManager" 
    class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 7、定义为哪些方法进行增强 -->
    <tx:advice id="txAdvice">
    	<tx:attributes>
    		<tx:method name="*" propagation="REQUIRED"/>
    	</tx:attributes>
    </tx:advice>
    <!-- 8、配置切面，并与事务增强进行组合 -->
    <aop:config>
    	<aop:pointcut expression="execution(* cn.marry..*(..))" id="myPointcut"/>
    	<!-- 使aop和事务增强进行组合 -->
    	<aop:advisor advice-ref="txAdvice" pointcut-ref="myPointcut"/>
    </aop:config>
</beans>        